// Import Bootstrap's main SCSS file
@import "~bootstrap/scss/bootstrap";
@import url('../css/app.css');
// Add your custom styles below
.custom-height {
  height: calc(100% - 4.5rem); // Adjust the height calculation as needed
}

a {
  text-decoration: none;
}
.sideIcon, .settingIcon{
  margin: auto;
  width: fit-content;
}
.sideIcon svg{
  width: 30px;
  height: 30px;
}
.settingIcon svg{
  width: 30px;
  height: 30px 
}
.avatar_img{
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.main-sidebar{
  height: 100vh;
  width: fit-content;
  z-index: 100;
}
.sidebar-panel{
  left: 5em;
  position: absolute;
  top:3em
}
nav svg{
  width: 30px;
  height: 30px;
}
nav input{
  border-radius: 10em;
  padding: 2px;
  width: 15em;
  border: 1px solid gray;
}
.smallIcon{
  width: 15px;
  height: 15px;
}

nav input:focus{
  outline: none;
}

.svgCol svg{
   width: 30px;
  height: 30px;
}
.sidebar{
  display: flex;
}
button svg{
  width: 30px;
  height: 30px;
}
button{
  outline: none;
  border: none;
}
.short{
  width: 15px;
}
.long{
  width: 20px;
}
.menu-toggle{
  margin-left: 5em;
}
.menu-toggle span{
  height: 2px;
  flex-direction: column;
  background-color: rgb(114, 114, 234);
  
}
.nav{
  left: 4em;
  z-index: 50;
  border-bottom: 1px solid lightgray;
}
.main-content{
  margin-left: 7em;
  margin-top: 5em;
}