/* custom.css */
.hover-rotate:hover {
  transform: rotate(360deg);
}

.hover-bg-light:hover {
  background-color: #f8f9fa !important;
}

.hover-text-primary:hover {
  color: #007bff !important;
}

.dark {
  /* Define dark mode styles */
}
